body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0
}

#root{
    width: 100%
}

#nav ~ *{
    margin-top: 40px;
    margin-left: 120px;
}

button{
    background-color: none;
    border: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1{
    z-index: 1;
}
