#content{
    margin: 0;
    height: 100vh;
    padding: 20px 100px;
    display: flex;
    justify-content: left;
    background-color: #ddd;
}

#landing{
    margin: 0;
    padding-left: 120px;
    border-bottom: 2px solid #ccc;
    height: 75px;
}
#user-sidebar{
    margin: 0px;
    right: 100px;
    background-color: rgb(246,247,248);
    border-radius: 5px;
    padding: 10px;
    min-height: 600px;
}

#reservations, #groups{
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 200px;
}

#reservations-header h2, #group-header h2{
    margin: 0px;
}

.reservation-card{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 250px;
}

.reservation-card p{
    margin: 0px;
}

#group-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#events{
    width: 470px;
    background-color: white;
    padding: 20px;
    padding-top: 0px;;
    border-radius: 5px;
}
#events-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.event-card{
    border: 2px solid white;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 100px;
    display: flex;
    transition: 0.35s;
    padding: 10px;
    width: 450px;
}

.event-card:hover{
    border-right: 4px solid red;
}

.event-card-img img{
    width: 150px;
    height: 75px;
    border-radius: 7px;
    padding-left: 3px;
    padding-right: 5px;
}

.event-card-title{
    display: flex;
    flex-direction: row;
    align-items: baseline ;
    justify-content: left;
    height: auto;
}
.event-card-text{
    overflow: hidden;
}
.event-card p{
    margin: 0;
    padding: 0;
    margin-bottom:10px;
}
.attending{
    color: red;
}
.event{
    display: flex;
}
.event-detail-display{
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    background-color: white;
}
.event-detail-display img{
    margin: 0;
    padding: 0;
    width: 100%;
}

.event-card-header h3, .event-card-header p, .event-card-header h4{
    margin: 0;
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
}

h1{
    position: relative;
    font-size: 30px;
    left: 20px;
}
