html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
#root{
    height: 100%;
}
#splash{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('../../assets/splash.jpg');
}

#spash-content{
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 0 auto;
}

#splash-content *{
    width: 160px;
    right: 0;
    margin: 0;
}
